<p>Hello!</p>

<h3></h3>

<p>Someone promoted <b><%= @bulletin.title %></b> to <%= @org.name %></p>

<p><%= link_to "Read more", @bulletin.shortened_url %></p>

<p>In case the link above doesn't work, paste this into your browser:</p>
<p><%= @bulletin.shortened_url %></p>

<%= render partial: 'email_footer' %>