<p>Hello people of <%= @org.name %>!</p>

<p><%= @bulletin.author_name %> just posted <b>"<%= link_to @bulletin.title, @bulletin.shortened_url %>"</b> on our News Board and we thought you would be interested.</p>

<p>In case the link above doesn't work, paste this into your browser:</p>
<p><%= link_to @bulletin.production_link, @bulletin.shortened_url %></p>

<%= render partial: 'email_footer' %>