<p>Hey <%= @org.name %></p>

<p>
  Just wanted to let you know that <%=@member.full_name%> registered a membership to <%= @org.name %>. They can now post links and write blog posts on our <a href="https://collegedesis.com/news">News Board</a> to represent and promote your organization.
</p>

<p>
  <strong>If you don't know who <%=@member.full_name%> is, you should probably let us know.</strong>
</p>

<%= render partial: 'email_footer' %>