<p>Hello <%= @org.name %>!</p>

<p>
  We recently launched full organizational profile pages on collegedesis.com and <%= @user.full_name %> has applied to be an administrator! The application remains pending until someone approves it from this email account.
</p>

<h1><%=link_to "Approve", @app.approval_url %></h1>
<h1><%=link_to "Reject", @app.rejection_url %></h1>

<%= render partial: 'email_footer' %>