<p>Hey <%= @org.name %></p>

<p>
  You've been added to the CollegeDesis <%= link_to "Directory", "https://collegedesis.com/directory" %>. Check out your organization's profile <%= link_to "here", @org.directory_profile %>!
</p>
<p>
  In the fall, we're coming out with ways for you to fundraise and promote your events. The more members who register memberships with <%= @org.name %>, the better!
</p>

<%= render partial: 'email_footer' %>