<div class="header">
  <h4>About</h4>
  <p>{{#if about}}{{about}}{{else}}{{#linkTo 'users.me'}}Join{{/linkTo}} this organization to update {{name}}'s profile!{{/if}}</p>
</div>
{{partial 'd/member_list'}}
{{partial 'd/bulletins_list'}}