<section class="header">
  <h4>About</h4>
  <div class="about">
  {{#if about}}{{aboutMarkdown}}{{else}}{{#linkTo 'users.me'}}Join{{/linkTo}} this organization to update {{name}}'s profile!{{/if}}
  </div>
</section>
{{partial 'd/member_list'}}
{{partial 'd/bulletins_list'}}