{{partial 'd/quick_look'}}
{{#if currentUserIsMember}}
  {{#if pendingAdminApplication}}
    <p>You applied to be an administrator. Awaiting verification!</p>
  {{else}}
    <a {{action applyAdmin}} class="cta">Claim Admin</a>
  {{/if}}
{{else}}
  <a {{action applyMembership}} class="cta">Join</a>
{{/if}}