<h3>{{name}} {{#if university_name}}<span class="small muted"> {{university_name}}</span>{{/if}}</h3>
<section {{bindAttr class=":links :animated isEditing:fadeOutRight"}}>
  {{view App.SocialIconLinkView hrefBinding="websiteUrl" iconClasses="icon-large icon-globe"}}
  {{view App.SocialIconLinkView hrefBinding="facebookUrl" iconClasses="icon-large icon-facebook"}}
  {{view App.SocialIconLinkView hrefBinding="twitterUrl" iconClasses="icon-large icon-twitter"}}
  {{view App.SocialIconLinkView hrefBinding="youtubeUrl" iconClasses="icon-large icon-youtube"}}
  {{view App.SocialIconLinkView hrefBinding="instagramUrl" iconClasses="icon-large icon-instagram"}}
</section>
<section class="control">
{{#if currentUserIsAdmin}}
  {{#if isEditing}}
    <a class="small" {{action save}}>Save</a>
    <!-- TODO: Do Good CSS later -->
    &nbsp;&nbsp;&nbsp;
    <a class="small muted" {{action cancel}}>Cancel</a>
    {{#each msg in errors}}<p style="color: red;">{{msg}}</p>{{/each}}
  {{else}}
    <a class="small" {{action edit}}>Edit</a>
  {{/if}}
{{/if}}
</section>

{{partial 'd/sidebar'}}
<div class="main-inside-container left">
  {{#if isEditing}}
    {{{partial 'd/edit_links'}}}
  {{/if}}
  {{partial 'd/member_list'}}
  {{partial 'd/activity'}}
</div>