<p>Congratulations <%=@user.full_name%>!</p>

<p>Your application to <%=@org.name%> to be <%= @app.application_type %> was approved!</p>

<p>If this was a mistake, please get in touch with <%= @org.name %> or just reply to this email!</p>

<%= render partial: 'email_footer' %>