<p>Hey <%=@user.full_name%>,</p>

<p>Your application to <%=@org.name%> to be <%= @app.application_type %> was not approved. If this was a mistake, please get in touch with <%= @org.name %>!</p>

<%= render partial: 'email_footer' %>