{{partial 'organizations/quick-look'}}
{{partial 'organizations/links'}}
{{#if currentUser}}
  {{#if currentUserIsMember}}
    {{#if canApplyForAdmin}}
      <a {{action applyAdmin}} class="cta">Become Admin</a>
    {{/if}}
    {{#if pendingAdminApplication}}
      <p>You applied to be an administrator. Awaiting verification!</p>
    {{/if}}
  {{else}}
    <div class="cta">
      {{#linkTo 'users.me'}}Register{{/linkTo}}
    </div>
  {{/if}}
{{else}}
  <div class="cta">
    {{#linkTo 'users.new'}}Sign up{{/linkTo}}
  </div>
{{/if}}