<aside>
  <div class="reputation">{{reputation}}</div>
</aside>
<div class="main">
  {{#if currentUser}}
    {{#if currentUserIsMember}}
      {{#if currentUserIsAdmin}}
        {{partial 'organizations/admin_show'}}
      {{else}}
        {{partial 'organizations/member_show'}}
      {{/if}}
    {{else}}
      {{partial 'organizations/logged_in_user_show'}}
    {{/if}}
  {{else}}
    {{partial 'organizations/guest_show'}}
  {{/if}}
</div>