<aside>
  <div class="reputation">{{reputation}}</div>
</aside>
<div class="main">
  <div class="header">
    <h2>{{name}}</h2>
    {{#if university_name}}<h4>{{university_name}}</h4>{{/if}}
    <h5>{{view App.ContenteditableView valueBinding="slug" tagName="p" contenteditableBinding="controller.currentUserIsAdmin"}}</h5>
  </div>
  {{view App.ContenteditableView valueBinding="about" tagName="p" contenteditableBinding="controller.currentUserIsAdmin"}}

  {{#if isDirty}}
    <button {{action save}}>Save</button>
  {{/if}}
  <ul class="members">
    {{#each mem in memberships}}
      <li>
        <img class="avatar" {{bindAttr src="mem.user.avatar_url"}}>
        <h5>{{mem.user.full_name}}</h5>
      </li>
    {{/each}}
  </ul>
  {{#if currentUser}}
    {{#unless registered}}
      {{#linkTo users.show controllers.application.currentUser tagName="button"}}I'm a member{{/linkTo}}
    {{/unless}}
  {{else}}
    {{#linkTo users.new tagName="button"}}Sign up{{/linkTo}} to become a member of {{name}}!
  {{/if}}
</div>