<aside>
  {{partial 'organizations/show_sidebar'}}
  {{#if currentUserIsAdmin}}
    {{#linkTo 'organizations.settings' this}}Admin Settings{{/linkTo}}
  {{/if}}
</aside>
<div class="main">
  {{#if currentUser}}
    {{#if currentUserIsMember}}
      {{partial 'organizations/member_show'}}
    {{else}}
      {{partial 'organizations/logged_in_user_show'}}
    {{/if}}
  {{else}}
    {{partial 'organizations/guest_show'}}
  {{/if}}
</div>