<aside>
  <h3>News</h3>
  <p>Promote your {{view App.RotatingView templatesBinding=incentives}}</p>
  <p>Your team/organization earns <span class="heading">reputation</span> when you share links or write a blog post!</p>
  <div class="cta" {{action write}}>Post</div>
</aside>
<div {{bindAttr class="controllers.bulletinsIndex.loading :main"}}>
  {{#each controllers.bulletinsIndex}}
    {{partial 'bulletins/index_row'}}
  {{/each}}
  <div class="page-nav">
    {{#unless controllers.bulletinsIndex.firstPage}}
      <button {{action previousPage target="controllers.bulletinsIndex"}}>Previous</button>
    {{/unless}}
    {{#unless controllers.bulletinsIndex.lastPage}}
      <button {{action nextPage target="controllers.bulletinsIndex"}}>Next</button>
    {{/unless}}
  </div>
</div>