<div class="bulletin">
  <div class="bulletin-header">
    <div class="bulletin-info">
      <h3>{{title}}</h3>
      <h5>Posted by
        {{#if authorIsOrganization}}{{#linkTo 'organizations.show' author}}{{author.name}}{{/linkTo}}{{/if}}
        {{#if authorIsUser}}{{author.full_name}}{{/if}}
         on {{humanizedCreatedAt}}
      </h5>
    </div>
    <div {{bindAttr class="hasBeenVotedOn:voted :vote"}}>
      {{#if hasBeenVotedOn}}
        <span>Score</span>
        <span class="heading">{{roundedScore}}</span>
      {{else}}
        <img src="/assets/upvote.png" width="20px" height="20px">
        <span {{action voteOnBulletin}}>Recommend</span>
      {{/if}}
    </div>
  </div>
  <div class="bulletin-body">
    {{htmlBody}}
    {{#if isLink}}This bulletin is a link. <a {{bindAttr href="url"}} target="_blank">Visit</a>.{{/if}}
  </div>
  <div class="bulletin-comments">
    {{view Ember.TextArea valueBinding="comment" placeholder="Be the first to comment"}}
    <button class="cta" {{action submitComment}}>Comment</button>
    {{#if comments}}
      <ul>
      {{#each comment in comments}}
        <li>
          <h5>{{comment.author}}</h5>
          <p>{{comment.body}}</p>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</div>