<p>Hey <%= @recipient %>,</p>
<p>
  Thank you for applying to be a CollegeDesis Regional Rep! If you got this email and if we liked your application, we'll email you back to set up a Google Hangout session. We're seriously excited that you're interested in being part of what we do.
</p>
<h3>Your Application</h3>

<p>
  Where are you located? (during and not during school)
  <br>
  <%= @answers["location"] %>
</p>
<p>
  What are you currently obsessed with?
  <br>
  <%= @answers["obsession"] %>
</p>
<p>
  What is the fastest way to hear back from you? e.g. email, twitter, telepathy
  <br>
  <%= @answers["communication"] %>
</p>
<p>
  What is the largest group chat you've been a part of?
  <br>
  <%= @answers["largestChat"] %>
</p>
<p>
  Why are you applying?
  <br>
  <%= @answers["why"] %>
</p>