<div class="bulletin-header">
  <div class="bulletin-info">
    {{#if isLink}}<a class="link" {{bindAttr href="url"}} target="_blank"><i class="icon-external-link icon-3x"></i></a>{{/if}}
    <h3 class="title">{{title}}</h3>
  </div>
  <div class="author">
    <h5>Posted by
      {{#if authorIsOrganization}}{{#linkTo 'd.show' author}}{{author.name}}{{/linkTo}}{{/if}}
      {{#if authorIsUser}}{{author.full_name}}{{/if}}
       on {{humanizedCreatedAt}}
    </h5>
  </div>

  <div class="row-of-buttons">
    <div class="vote">
      {{#if hasBeenVotedOn}}
        <div class="button no-click">Score: <span class="heading">{{roundedScore}}</span></div>
      {{else}}
      <a class="button" {{action voteOnBulletin}}>
        <i class="icon-thumbs-up"></i>
        <span>Recommend</span>
      </a>
      {{/if}}
    </div>
    <a class="button" {{action jumpToComment target="view"}}>
      <i class="icon-comment"></i>
      <span>Comment{{#if comments}} ({{comments.length}}){{/if}}</span>
    </a>
  </div>
</div>
<div class="bulletin-body">
  {{markdown body}}
</div>
<div class="bulletin-comments">
  <h3>Comments</h3>
  {{view Ember.TextArea valueBinding="comment" placeholder="Be the first to comment"}}
  <button class="cta" {{action submitComment}}>Submit</button>
  {{#if comments}}
    <ul>
    {{#each comment in comments}}
      <li>
        <h5>{{comment.author}}</h5>
        <p>{{comment.body}}</p>
      </li>
    {{/each}}
    </ul>
  {{/if}}
</div>