<div class="bulletin">
  <div class="bulletin-header">
    <div class="bulletin-info">
      <h3>{{title}}</h3>
      <h5>Posted by
        {{#if authorIsOrganization}}{{#linkTo 'd.show' author}}{{author.name}}{{/linkTo}}{{/if}}
        {{#if authorIsUser}}{{author.full_name}}{{/if}}
         on {{humanizedCreatedAt}}
      </h5>
    </div>

    {{#if isLink}}
      <a class="button clickable" {{bindAttr href="url"}} target="_blank">Visit Link</a>
    {{/if}}
    <div class="vote">
      {{#if hasBeenVotedOn}}
        <div class="button">Score: <span class="heading">{{roundedScore}}</span></div>
      {{else}}
      <a class="button clickable" {{action voteOnBulletin}}>
        <img src="/assets/upvote.png" width="20px" height="20px">
        <span>Recommend</span>
      </a>
      {{/if}}
    </div>
    <a class="button clickable" {{action jumpToComment target="view"}}>
      Comment{{#if comments}} ({{comments.length}}){{/if}}
    </a>
  </div>
  <div class="bulletin-body">
    {{htmlBody}}
  </div>
  <div class="bulletin-comments">
    <h3>Comments</h3>
    {{view Ember.TextArea valueBinding="comment" placeholder="Be the first to comment"}}
    <button class="cta" {{action submitComment}}>Submit</button>
    {{#if comments}}
      <ul>
      {{#each comment in comments}}
        <li>
          <h5>{{comment.author}}</h5>
          <p>{{comment.body}}</p>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</div>