{{#unless showingPreview}}
  <h3><a {{action toggleBulletinType}}>{{toggleTypePrompt}}</a> instead.</h3>
{{/unless}}
<form class="bulletin-new" id="main-form">
  {{#if isLink}}{{partial "n/new_link"}}{{/if}}
  {{#if isPost}}{{partial "n/new_post"}}{{/if}}
  {{#unless showingPreview}}
  <div class="row">

  <div class="header">Author?</div>
  <div class="contents">
  {{view Ember.Select contentBinding="possibleAuthors"
                  optionValuePath="content"
                  optionLabelPath="content.name"
                  selectionBinding="assignedAuthor"}}
  </div>
  </div>
  {{/unless}}
  <div class="row-of-buttons">
    <button class="cta" {{bindAttr disabled="controller.errors"}} {{action submit}}>Submit</button>
    <button class="clickable" {{action preview}}>
    {{#if showingPreview}}Edit{{else}}Preview{{/if}}
    </button>
  </div>
</form>