<div class="bulletin-wrapper">
  <div {{bindAttr class ="loading :vote"}}>
    {{#if hasBeenVotedOn}}
      <h3>{{roundedScore}}</h3>
    {{else}}
      <a {{action voteOnBulletin this}}></a>
    {{/if}}
  </div>
  {{#if isPost}}
    {{partial 'bulletins/post_show'}}
  {{/if}}
  {{#if isLink}}
    {{partial 'bulletins/link_show'}}
  {{/if}}
</div>