<aside>
  <p>Publish to <strong>{{numOfOrganizations}}</strong> South Asian student organizations from <strong>{{numOfUniversities}}</strong> universities in <strong>{{numOfStates}}</strong> states.</p>
  <button {{action write}}>Post</button>
</aside>
<div class="main">
  {{#each controller}}
    {{partial 'bulletins/index_row'}}
  {{/each}}
  <div class="page-nav">
    {{#unless firstPage}}
      <button {{action previousPage}}>Previous</button>
    {{/unless}}
    {{#unless lastPage}}
      <button {{action nextPage}}>Next</button>
    {{/unless}}
  </div>
</div>