<div class="main">
  {{#if hasBulletins }}
    {{#each bulletin in controller}}
      <div class="bulletin-wrapper">
        <div class="bulletin-preview">
          <span class="title"> {{bulletin.title}}</span>
          {{#if bulletin.isPost}}
            <a class="link" {{action goToBulletin bulletin}}>Read Post</a>
          {{else}}
            <a class="link" target="_blank" {{bindAttr href="bulletin.url"}}>Open Link</a>
          {{/if}}
        </div>
        <div class="vote">
        {{#unless hasBeenVotedOn}}
          <a {{action voteOnBulletin bulletin}}></a>
        {{/unless}}
        </div>
      </div>
    {{/each}}
  {{else}}
    No bulletins have been written. Want to {{#linkTo "bulletins.new"}}write one?{{/linkTo}}
  {{/if}}
</div>
<aside>
  <h4> About</h4>
  <p>
    Bulletins are the easiest way to spread the word among the CollegeDesis community.
  </p>
  <p>Post a link or write a blog post. If enough people vote it up, we'll automatically <a href="//twitter.com/collegedesis">tweet</a> it out.</p>
  {{#if controllers.application.currentUser}}
    <button {{action write}}>Post</button>
  {{else}}
    {{#linkTo login}}Log in{{/linkTo}} to post.
  {{/if}}
</aside>