<div class="main">
  {{#if hasBulletins }}
    {{#each bulletin in controller}}
      {{#if hasBeenVotedOn}}
        {{bulletin.votes.length}}
      {{else}}
        <button {{action voteOnBulletin bulletin}}>Vote</button>
      {{/if}}
      {{#if bulletin.isPost}}
        <div class="bulletin"  {{action goToBulletin bulletin}}>
      {{else}}
      <a class="bulletin" {{bindAttr href="bulletin.url"}}>
      {{/if}}
        <div class="preview">
          <span class="title"> {{bulletin.title}}</span>
          <span class="preview"> {{bulletin.preview}}</span>
        </div>
      {{#if bulletin.isPost}}
      </div>
      {{else}}
      </a>
      {{/if}}
    {{/each}}
  {{else}}
    No bulletins have been written. Want to {{#linkTo "bulletins.new"}}write one?{{/linkTo}}
  {{/if}}
</div>
<aside>
  <h4> About</h4>
  <p>
    Bulletins are the easiest way to spread the word among the CollegeDesis community.
  </p>
  <p> 
    Log in to comment.
  </p>
  
  <p>
    {{#linkTo "bulletins.new"}}
      Post a Bulletin
    {{/linkTo}}
  </p>
</aside>