<aside>
  <h3>Resources</h3>
  <ul class="sub-nav">
    <li><a href="/#/news/welcome-to-the-bulletin-board">Why {{#if isPost}}write a post{{else}}share links{{/if}}?</a></li>
    {{#if isPost}}<li><a href="/#/news/making-your-bulletins-look-pretty">Making your bulletins look pretty</a></li>{{/if}}
  </ul>
  <h3>Select Author</h3>
  {{view Ember.Select contentBinding="possibleAuthors"
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      selectionBinding="assignedAuthor"}}
  {{#if isPost}}
    <button class="cta" {{action preview}}>{{#if showingPreview}}Edit{{else}}Preview{{/if}}</button>
  {{/if}}
  <p>
    {{#if isPost}}
      <a {{bindAttr class="isLink:selected"}} {{action setLink}}>Submit a link</a> to another website or article instead.
    {{else}}
      <a {{bindAttr class="isPost:selected"}} {{action setPost}}>Write</a> a blog post instead.
    {{/if}}
  </p>
</aside>
<div class="main">
  <div class="bulletin-new">
    <form>
      {{#if isPost}}
        {{partial "bulletins/new_post"}}
      {{/if}}
      {{#if isLink}}
        {{partial "bulletins/new_link"}}
      {{/if}}
      <button class="cta" {{bindAttr disabled="controller.errors"}} {{action submit}}>Submit</button>
    </form>
  </div>
</div>