<aside>
  <h1>Select Link/Post</h1>
  {{view Ember.Select contentBinding="bulletinTypes" valueBinding="bulletin_type" optionLabelPath="content.name" optionValuePath="content.value"}}
  {{#if isPost}}
    <p>Blank lines make new paragraphs</p>
    <p>[url](link text) creates a hyperlink</p>
    <p>![image](image_url) displays an image</p>
    <p>**bold text**</p>
    <p>_italic text_</p>
    <p>
      * bullets <br>
      * bullets <br>
      * bullets <br>
    </p>
    <p>
      1. numbered list <br>
      1. numbered list <br>
      1. numbered list <br>
    </p>
    <button {{action preview}}>{{#if showingPreview}}Edit{{else}}Preview{{/if}}</button>
  {{/if}}
</aside>
<div class="main">
  <div class="bulletin-new">
  {{#formFor content}}
    {{#unless controller.showingPreview}}
      {{input title}}
    {{/unless}}
    {{#if isLink }}
      {{input url placeholder="Start with http:// or https://"}}
    {{/if}}

    {{#if isPost}}
      {{#if controller.showingPreview}}
        <div class="preview">
            <h2>{{#if title}}{{title}}{{else}}No title{{/if}}</h2>
            <div class="bulletin-body">{{htmlBody}}</div>
          </div>
      {{else}}
        {{input body as="text"}}
      {{/if}}
    {{/if}}
    {{#unless controller.errors}}
      {{submit}}
    {{else}}
      {{#if isLink}}
        <p>Enter a valid link and title to submit!</p>
      {{else}}
        <p>Write something to submit!</p>
      {{/if}}
    {{/unless}}
  {{/formFor}}
  </div>
</div>