<aside>
  <div class="bulletin-comments">
    <h3>
      {{#if comments}}Leave a Comment{{else}}Be the first to comment{{/if}}
    </h3>
    {{view Ember.TextArea valueBinding="comment" placeholder="Add a comment"}}
    <button {{action submitComment}}>Submit</button>
    {{#if comments}}
      <ul>
      {{#each comment in comments}}
        <li>
          <h5>{{comment.author}}</h5>
          <p>{{comment.body}}</p>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</aside>
<div class="main">
  <div class="bulletin">
    <div class="bulletin-header">
      <div {{bindAttr class="hasBeenVotedOn:voted :vote"}}>
        {{#if hasBeenVotedOn}}
          <span class="heading">{{roundedScore}}</span>
          <span>Score</span>
        {{else}}
          <img src="/assets/upvote.png" width="30px" height="30px">
          <span {{action voteOnBulletin}}>Recommend</span>
        {{/if}}
      </div>
      <div class="bulletin-info">
        <h3>{{title}}</h3>
        <h5>Posted by {{#linkTo 'organizations.show' author}}{{author.name}}{{/linkTo}} on {{humanizedCreatedAt}}</h5>
      </div>
    </div>
    <div class="bulletin-body">
      {{htmlBody}}
      {{#if isLink}}This bulletin is a link. <a {{bindAttr href="url"}} target="_blank">Visit</a>.{{/if}}
    </div>
  </div>
</div>