<aside>
  <div class="bulletin-comments">
    <h4>
      {{#if comments}}Leave a Comment{{else}}Be the first to comment{{/if}}
    </h4>
    {{view Ember.TextArea valueBinding="comment" placeholder="Add a comment"}}
    <button {{action submitComment}}>Submit</button>
    {{#if comments}}
      <ul>
      {{#each comment in comments}}
        <li>
          <h5>{{comment.author}}</h5>
          <p>{{comment.body}}</p>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</aside>
<div class="main">
  <div class="bulletin">
    <div class="bulletin-header">
      <h1>{{title}}</h1>
      <h5>Posted by {{#linkTo 'organizations.show' author}}{{author.name}}{{/linkTo}} on {{humanizedCreatedAt}}</h5>
    </div>
    <div class="bulletin-body">
      {{htmlBody}}
      {{#if isLink}}This bulletin is a link. <a {{bindAttr href="url"}} target="_blank">Visit</a>.{{/if}}
    </div>
    {{#if hasBeenVotedOn}}
    <div class="voted">
      <h3>{{votes.length}}</h3>
      <span>Votes</span>
    </div>
    {{else}}
    <div class="vote">
      <a {{action voteOnBulletin}}></a>
    </div>
    {{/if}}
  </div>
</div>