<aside>
  <div class="vote">
    {{#unless hasBeenVotedOn}}
      <a {{action voteOnBulletin}}></a>
      <h4>Recommend</h4>
    {{else}}
      <h3>{{votes.length}}</h3>
      <h4>Recommendations</h4>
    {{/unless}}
  </div>
</aside>
<div class="main">
  <div class="bulletin">
    <div class="bulletin-header">
      <h1>
        {{#if isLink}}
          <a {{bindAttr href="url"}} target="_blank">{{title}}</a>
        {{else}}
          {{title}}
        {{/if}}
      </h1>
      <span class="date">Posted at {{humanizedCreatedAt}}</span>
    </div>
    <div class="bulletin-body"> {{htmlBody}}</div>
    <p>{{#linkTo "bulletins.index"}}&larr; Back{{/linkTo}}</p>
  </div>
</div>