<aside>
  <div class="bulletin-comments">
    <h4>
      {{#if comments}}Leave a Comment{{else}}Be the first to comment{{/if}}
    </h4>
    {{view Ember.TextArea valueBinding="comment" placeholder="Add a comment"}}
    <button {{action submitComment}}>Submit</button>
    {{#if comments}}
      <ul>
      {{#each comment in comments}}
        <li>
          <h5>{{comment.author}}</h5>
          <p>{{comment.body}}</p>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
</aside>
<div class="main">
  <div class="bulletin">
    <div class="bulletin-header">
      <div class="vote">
        {{#if hasBeenVotedOn}}
        <div class="bulletin-voted">
          <h3>{{roundedScore}}</h3>
        </div>
        {{else}}
        <div class="bulletin-vote">
          <a {{action voteOnBulletin}}></a>
          <h3>{{roundedScore}}</h3>
        </div>
        {{/if}}
      </div>
      <div class="bulletin-info">
        <h1>{{title}}</h1>
        <h5>Posted by {{#linkTo 'organizations.show' author}}{{author.name}}{{/linkTo}} on {{humanizedCreatedAt}}</h5>
      </div>
    </div>
    <div class="bulletin-body">
      {{htmlBody}}
      {{#if isLink}}This bulletin is a link. <a {{bindAttr href="url"}} target="_blank">Visit</a>.{{/if}}
    </div>
  </div>
</div>