<nav>
  <h1 class="logo" {{action goHome}}><span>College</span>Desis</h1>
  <div class="min-nav" {{action showNav}}><i class="icon-reorder icon-2x"></i></div>
  <ul class="top-nav">
    {{#linkTo 'index' tagName="li"}}Home{{/linkTo}}
    {{#if newsPage}}
      {{#linkTo n tagName="li"}}News{{/linkTo}}
    {{else}}
      {{#linkTo news tagName="li"}}News{{/linkTo}}
    {{/if}}
    {{#linkTo 'd.show' collegeDesisOrg tagName="li"}}About{{/linkTo}}

    {{#if directoryPage}}
      {{#linkTo d tagName='li'}}Directory{{/linkTo}}
    {{else}}
      {{#linkTo directory tagName='li'}}Directory{{/linkTo}}
    {{/if}}
  </ul>

  <ul class="account">
  {{#if currentUser}}
    {{#linkTo 'users.me' tagName="li"}}<img height="14" {{bindAttr src="currentUser.avatar_url"}} />Profile{{/linkTo}}
    {{#if currentUser}}<li {{action logout}}>Sign out</li>{{/if}}
  {{else}}
    {{#linkTo 'login' tagName="li"}}Log in{{/linkTo}}
  {{/if}}
  </ul>
</nav>
<ul {{bindAttr class="leftNavVisible:visible :left-nav"}}>
  <li {{action goToHome}}>Home</li>
  <li {{action goToNews}}>News</li>
  <li {{action goToAbout}}>About</li>
  <li {{action goToDirectory}}>Directory</li>
</ul>