<nav>
  <h1 class="logo" {{action goHome}}><span>College</span>Desis</h1>
  <div class="min-nav" {{action showNav}}><i class="icon-reorder icon-2x"></i></div>
  <ul class="top-nav">
    {{#linkTo 'index' tagName="li"}}Home{{/linkTo}}
    {{#if newsPage}}
      {{#linkTo n tagName="li"}}News{{/linkTo}}
    {{else}}
      {{#linkTo news tagName="li"}}News{{/linkTo}}
    {{/if}}
    {{#linkTo 'about' tagName="li"}}About{{/linkTo}}
    {{#linkTo directory tagName="li"}}Directory{{/linkTo}}
  </ul>

  <ul class="account">
  {{#if currentUser}}
    <li>{{#linkTo 'users.me'}}<img {{bindAttr src="currentUser.avatar_url"}} />Profile{{/linkTo}}</li>
    {{#if currentUser}}<li><a {{action logout}}>Sign out</a></li>{{/if}}
  {{else}}
    <li>{{#linkTo 'login'}}Log in{{/linkTo}}</li>
  {{/if}}
  </ul>
</nav>
<ul {{bindAttr class="leftNavVisible:visible :left-nav"}}>
  <li {{action goToHome}}>Home</li>
  {{#if newsPage}}
    <li {{action goToN}}>News</li>
  {{else}}
    <li {{action goToNews}}>News</li>
  {{/if}}
  {{#linkTo 'about' tagName='li'}}About{{/linkTo}}
  <li {{action goToDirectory}}>Directory</li>
</ul>