<h1 {{action goHome}}><span>College</span>Desis</h1>
<div class="subtitle">Connect with <strong>{{numOfOrganizations}}</strong> South Asian student organizations from <strong>{{numOfUniversities}}</strong> universities in <strong>{{numOfStates}}</strong> states.</div>
<div class="app-nav">
  <ul>
    <li>{{#linkTo index}}News{{/linkTo}}</li>
    <li>{{#linkTo radio}}Radio{{/linkTo}}</li>
    <li>{{#linkTo about}}About{{/linkTo}}</li>
  </ul>
  <ul class="account">
    <li class="account">
      {{#if currentUser}}
        {{#linkTo 'users.show' currentUser }}<img {{bindAttr src="currentUser.avatar_url"}} />Profile{{/linkTo}}
      {{else}}
        {{#linkTo login}}Join the community{{/linkTo}}</li>
      {{/if}}
    </li>
    {{#if currentUser}}<a {{action logout}}>Sign out</a></li>{{/if}}
  </ul>
</div>