<nav>
  <h1 class="logo" {{action goHome}}><span>College</span>Desis</h1>
  <div class="min-nav" {{action showNav}}><i class="icon-reorder icon-2x"></i></div>
  <ul class="top-nav">
    <li>{{#linkTo 'index'}}Home{{/linkTo}}</li>
    {{#if newsPage}}
      <li>{{#linkTo n}}News{{/linkTo}}</li>
    {{else}}
      <li>{{#linkTo news}}News{{/linkTo}}</li>
    {{/if}}
    <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
    <li>{{#linkTo directory}}Directory{{/linkTo}}</li>
  </ul>

  <ul class="account">
  {{#if currentUser}}
    <li>{{#linkTo 'users.me'}}<img {{bindAttr src="currentUser.avatar_url"}} />Profile{{/linkTo}}</li>
    {{#if currentUser}}<li><a {{action logout}}>Sign out</a></li>{{/if}}
  {{else}}
    <li>{{#linkTo 'login'}}Log in{{/linkTo}}</li>
  {{/if}}
  </ul>
</nav>
<ul {{bindAttr class="leftNavVisible:visible :left-nav"}}>
  <li><a {{action goToHome}}>Home</a></li>
  {{#if newsPage}}
    <li><a {{action goToN}}>News</a></li>
  {{else}}
    <li><a {{action goToNews}}>News</a></li>
  {{/if}}
  <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
  <li><a {{action goToDirectory}}>Directory</a></li>
</ul>