<div class='home-content'>
  <div class="index right">
    <form class="inline">
      <div class="input-wrapper">
        <div class="search icon"></div>
        {{input value=controllers.map.searchParam autocomplete="off"}}
      </div>
      <button style="visibility:hidden;" {{action search target='controllers.map'}}>Search</button>
    </form>
    <div class="map-results">
      <ul {{bindAttr class="controllers.map.loading"}}>
        {{#each org in controllers.map.organizations}}
          {{#linkTo d.show org tagName="li"}}{{org.display_name}}{{/linkTo}}
        {{/each}}
      </ul>
      {{#unless controllers.map.organizations}}
        <div class="muted" style="height: 100%; width: 100%; text-align:center;">Search me or click on the map</div>
      {{/unless}}
    </div>
  {{#if controllers.map.organizations}}
    <h4 {{bindAttr class="controllers.map.loading"}}>{{controllers.map.organizations.length}} matches</h4>
  {{/if}}
  </div>
  <div class="main-inside-container right">
    {{render 'map'}}
    <div class="map-stats">
      <span {{bindAttr class="controllers.map.loading :stat"}}>{{numOfOrganizations}}</span>
      South Asian student organizations at
      <span {{bindAttr class="controllers.map.loading :stat"}}>{{numOfUniversities}}</span>
      universities in
      <span {{bindAttr class="controllers.map.loading :stat"}}>{{numOfStates}}</span>
      states
    </div>
  </div>
</div>