<div class='home-content'>
  <div class="index-right"></div>
  <div class="map-container-small">
    {{render 'map'}}
  </div>
</div>

<form class="center inline">
  {{input value=controllers.map.searchParam}}
  <button class="cta" {{action search target='controllers.map'}}>Search</button>
</form>

<div class=" center map-results">
  {{#unless loading}}
    {{#if controllers.map.organizations}}
      <h2><span {{bindAttr class="controllers.map.loading"}}>{{controllers.map.organizations.length}}</span> organizations found</h2>
    {{/if}}
  {{else}}
    <h2><span {{bindAttr class="controllers.map.loading"}}>{{controllers.map.organizations.length}}</span> organizations found</h2>
  {{/unless}}
  <ul {{bindAttr class="controllers.map.loading"}}>
    {{#each org in controllers.map.organizations}}
      {{#linkTo d.show org tagName="li"}}{{org.display_name}}{{/linkTo}}
    {{/each}}
  </ul>
</div>