<div class="center">
  <h3>Click on a state or search by name!</h3>
  {{input value=controllers.map.searchParam placeholder="Search"}}
</div>

<div class="map-container">
  {{render 'map'}}
</div>


<div class=" center map-results">
  {{#unless loading}}
    {{#if controllers.map.organizations}}
      <h2><span {{bindAttr class="controllers.map.loading"}}>{{controllers.map.organizations.length}}</span> organizations found</h2>
    {{/if}}
  {{else}}
    <h2><span {{bindAttr class="controllers.map.loading"}}>{{controllers.map.organizations.length}}</span> organizations found</h2>
  {{/unless}}
  <ul {{bindAttr class="controllers.map.loading"}}>
    {{#each org in controllers.map.organizations}}
      {{#linkTo d.show org tagName="li"}}{{org.display_name}}{{/linkTo}}
    {{/each}}
  </ul>
</div>