<div class="map-container">
  <div class="map-stats">
    <p><strong>Connect</strong>, <strong>Collaborate</strong> and <strong>Share</strong> with</p>
    <ul>
      <li>
        <div {{bindAttr class="controllers.map.loading :stat"}}>{{numOfOrganizations}}</div>
        <span>South Asian student organizations</span>
      </li>
      <li>
        <span>at</span>
        <div {{bindAttr class="controllers.map.loading :stat"}}>{{numOfUniversities}}</div>
        <span>universities</span>
      </li>
      <li>
        <span>in</span>
        <div {{bindAttr class="controllers.map.loading :stat"}}>{{numOfStates}}</div>
        <span>states</span>
      </li>
    </ul>
  </div>
  {{render 'map'}}
  <p class="center">&darr;</p>
</div>

<p class="center" style="font-weight:800;">
  Are you a member<br>
  of a South Asian student organization or team?
</p>

<form class="center">
  {{input placeholder="Enter your email address" type="email" value=email}}
  <button {{action proceedSignUp}} class="cta join">Join</button>
</form>