<aside>
  <p>
    Connecting {{numOfOrganizations}} South Asian student organizations around the country.
  </p>
  <hr>
  <p>
    Our goal is to make it easier for the South Asian student community to <strong>share experiences, talk about issues, and collaborate</strong>.
  </p>
  <hr>
  <p><a href="/#/bulletins/welcome-to-the-bulletin-board">Read more</a> about the Bulletin Board</p>
  {{#if controllers.application.currentUser}}
    {{#if controllers.application.currentUser.approved}}
      <button {{action write}}>Post</button>
    {{else}}
      <p>{{#linkTo 'users.show' currentUser}}Add a membership{{/linkTo}} to post.</p>
    {{/if}}
  {{else}}
    {{#linkTo 'login'}}Login{{/linkTo}} to write a Post or Share a Link
  {{/if}}
</aside>
<div class="main">
  {{#if controllers.bulletinsIndex.hasBulletins}}
    {{#each bulletin in controllers.bulletinsIndex}}
      <div class="bulletin-wrapper">
        <div class="bulletin-preview" {{action goToBulletin bulletin}}>
          <div class="subtext">{{bulletin.author}}</div>
          <div class="title">{{bulletin.title}}</div>
        </div>
        <div class="vote">
          {{#if hasBeenVotedOn}}
            <h3>{{bulletin.votes.length}}</h3>
          {{else}}
            <a {{action voteOnBulletin bulletin}}></a>
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    No bulletins have been written. Want to {{#linkTo "bulletins.new"}}write one?{{/linkTo}}
  {{/if}}
</div>