<div class="map-container">

  <div class="map-stats">
    <ul>
      <li>
        <div {{bindAttr class="controllers.map.loading :stat"}}>{{numOfOrganizations}}</div>
        <span>South Asian student organizations</span>
      </li>
      <li>
        <span>at</span>
        <div {{bindAttr class="controllers.map.loading :stat"}}>{{numOfUniversities}}</div>
        <span>universities</span>
      </li>
      <li>
        <span>in</span>
        <div {{bindAttr class="controllers.map.loading :stat"}}>{{numOfStates}}</div>
        <span>states</span>
      </li>
    </ul>
  </div>
  {{render 'map'}}
</div>

<h2 class="center">Belong to one of these?</h2>

<form class="center">
  {{input placeholder="Enter your email address" type="email" value=email}}
  <span {{action proceedSignUp}} class="cta join">Join</span>
</form>