<aside>
  <p>Publish to <strong>{{numOfOrganizations}}</strong> South Asian student organizations from <strong>{{numOfUniversities}}</strong> universities in <strong>{{numOfStates}}</strong> states.</p>
  <button {{action write}}>Post</button>
</aside>
<div class="main">
  {{#if controllers.bulletinsIndex.hasBulletins}}
    {{#each bulletin in controllers.bulletinsIndex}}
      <div class="bulletin-wrapper">
        <div class="subtext">{{#linkTo 'organizations.show' bulletin.author}}{{bulletin.author.name}}{{/linkTo}}</div>
        <div class="bulletin-preview" {{action goToBulletin bulletin}}>
          <div class="title">{{bulletin.title}}</div>
        </div>
        <div class="vote">
          {{#if hasBeenVotedOn}}
            <h3>{{bulletin.votes.length}}</h3>
          {{else}}
            <a {{action voteOnBulletin bulletin}}></a>
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    Loading...
  {{/if}}
</div>