<aside>
  <p>Publish to <strong>{{numOfOrganizations}}</strong> South Asian student organizations from <strong>{{numOfUniversities}}</strong> universities in <strong>{{numOfStates}}</strong> states.</p>
  <button {{action write}}>Post</button>
</aside>
<div class="main">
  {{#if controllers.bulletinsIndex.hasBulletins}}
    {{#each controllers.bulletinsIndex}}
      {{partial 'bulletins/index_row'}}
    {{/each}}
  {{else}}
    Loading...
  {{/if}}
  <a {{action previousPage}}>Previous</a>
  <a {{action nextPage}}>Next</a>
</div>