<aside>
  <p>
    Connecting {{numOfOrganizations}} South Asian student organizations around the country.
  </p>
  <hr>
  <p>
    Our goal is to make it easier for the South Asian student community to <strong>share experiences, talk about issues, and collaborate</strong>.
  </p>
  <hr>
  <p><a href="/#/bulletins/welcome-to-the-bulletin-board">Read more</a> about the Bulletin Board</p>
  <button {{action write}}>Post</button>
</aside>
<div class="main">
  {{#if controllers.bulletinsIndex.hasBulletins}}
    {{#each bulletin in controllers.bulletinsIndex}}
      <div class="bulletin-wrapper">
        <div class="subtext">{{#linkTo 'organizations.show' bulletin.author}}{{bulletin.author.name}}{{/linkTo}}</div>
        <div class="bulletin-preview" {{action goToBulletin bulletin}}>
          <div class="title">{{bulletin.title}}</div>
        </div>
        <div class="vote">
          {{#if hasBeenVotedOn}}
            <h3>{{bulletin.votes.length}}</h3>
          {{else}}
            <a {{action voteOnBulletin bulletin}}></a>
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    No bulletins have been written. Want to {{#linkTo "bulletins.new"}}write one?{{/linkTo}}
  {{/if}}
</div>