<div class="home-content">
  <div class="map-container-small">
    {{render 'map'}}
    <div class="map-stats">
      <div class="stat-wrapper">
        <span {{bindAttr class="controllers.map.loading :stat"}}>{{numOfOrganizations}}</span>
        South Asian student organizations at
        <span {{bindAttr class="controllers.map.loading :stat"}}>{{numOfUniversities}}</span>
        universities in
        <span {{bindAttr class="controllers.map.loading :stat"}}>{{numOfStates}}</span>
        states
      </div>
    </div>
  </div>

  <div class="index-right">
    <form class="inline">
      {{input placeholder="Your email address" type="email" value=email}}
      <button {{action proceedSignUp}} class="cta">Join</button>
    </form>
    <p>
      We're building a community of <strong>South Asian student organizations</strong> to make large-scale social, cultural, and political impact.
    </p>
    <p>
      We help South Asian student organizations fundraise and promote themselves.
    </p>
    <p class="small">
      Brands? {{#linkTo about.contact}}Contact us{{/linkTo}}
    </p>

  </div>
</div>