<aside>
  <h3>Why</h3>
  <ul class="sub-nav no-link">
    <li>Join a national community</li>
    <li>Earn reputation for your team</li>
    <li>Fundraise</li>
  </ul>
  <a href="#/bulletins/how-to-sign-up">Learn More</a>
</aside>
<div class="main">
  {{App.session.messages}}
  <form class="user-signup-form">
    <h4>{{#linkTo users.new}}Sign up{{/linkTo}} / Log in</h4>
    <div class="row">
      <div class="header">Email</div>
      <div class="contents">
        {{input type=text value=session.email}}
        {{#unless validEmail}}<span class="error">that doesn't look like an email address?</span>{{/unless}}
      </div>
    </div>
    <div class="row">
      <div class="header">Password</div>
      <div class="contents">
        {{input type=password value=session.password}}
        {{#unless validPassword}}<span class="error">can't login without a password, silly</span>{{/unless}}
      </div>
    </div>
    <button class="cta" {{bindAttr disabled="controller.errors"}} {{action submit}}>Log in</button>
  </form>
</div>