<div class="home-content">
  <form id="main-form" class="index right">
    {{#if App.session.messages}}<p class="muted">{{App.session.messages}}</p>{{/if}}
    <div class="row">
      <div class="header">Email</div>
      <div class="contents">
        {{input type=text value=session.email}}
        {{#unless validEmail}}<span class="error">that doesn't look like an email address?</span>{{/unless}}
      </div>
    </div>
    <div class="row">
      <div class="header">Password</div>
      <div class="contents">
        {{input type=password value=session.password}}
        {{#unless validPassword}}<span class="error">can't login without a password, silly</span>{{/unless}}
      </div>
    </div>
    <button class="cta" {{bindAttr disabled="controller.errors"}} {{action submit}}>Log in</button>
    <p class="small">or {{#linkTo users.new}}Sign up{{/linkTo}}</p>
  </form>
  <div class="main-inside-container right">
    <h3>Log in</h3>
    <p>
      Earn reputation for your team, fundraise for events, and connect with South Asian students from all around America.
    </p>
    <p class="small muted">Learn <a href="#/news/how-to-sign-up">how to register</a>.</p>
  </div>
</div>