<div id="map"></div>
<div class="map-stats">
  <span {{bindAttr class="loading :stat"}}>{{numOfOrganizations}}</span>
  South Asian student organizations at
  <span {{bindAttr class="loading :stat"}}>{{numOfUniversities}}</span>
  universities in
  <span {{bindAttr class="loading :stat"}}>{{numOfStates}}</span>
  states
</div>