<div id="map"></div>
<div class="map-stats">
  <p><strong>Connect</strong>, <strong>Collaborate</strong> and <strong>Share</strong> with</p>
  <ul>
  <li {{bindAttr class="loading"}}>
    <span class="stat">{{selectedOrgs.length}}</span>
    <span>South Asian student organizations</span>
  </li>
  <li {{bindAttr class="loading"}}>
    <span>at</span>
    <span class="stat">{{numOfUniversities}}</span>
    <span>universities</span>
  </li>
  <li {{bindAttr class="loading"}}>
    <span>in</span>
    <span class="stat">{{numOfStates}}</span>
    <span>states</span>
  </li>
  </ul>
</div>