<div class='home-content'>
  <div class='main-inside-container right'>
    <p style="margin-top: 100px;" class="muted center">
      News from {{numOfOrganizations}} South Asian student organizations all around America
    </p>
    <p class="center small mobile"><a {{action scrollToStories}}>Read &darr;</a></p>
  </div>
  <div class='index left'>
    <div class="bulletins-list">
    {{#each controllers.bulletinsIndex}}
      <div class='bulletin-wrapper'>
        <div class='title'>
        {{#linkTo 'n.story' this}}
          {{title}}
        {{/linkTo}}
      </div>
        <div class='subtext'>
          {{#if authorIsOrganization}}
            {{#linkTo 'd.show' author}}{{author.name}}{{/linkTo}}
          {{/if}}
          {{#if authorIsUser}}{{author.full_name}}{{/if}}
        </div>
      </div>
    {{/each}}
    </div>
    {{#linkTo 'n.submit' tagName='button' classNames='cta'}}Share{{/linkTo}}
  </div>
</div>