<aside>
  <h3>Note</h3>
  <p>Anyone can create an account, but to post a bulletin you'll have to add a membership to one of the organizations in our Directory.</p>
</aside>
<div class="main">
  {{#formFor content}}
    {{input full_name placeholder="Use a name your organization will recognize"}}
    {{input email placeholder="user@email.com"}}
    {{input password placeholder="at least 6 characters"}}
    {{input password_confirmation placeholder="again"}}
    {{#if controller.errors}}
      <p style="color:red;">Something isn't right:
      <ul>
        <li>Email address is legit?</li>
        <li>Password is at least 6 characters?</li>
        <li>Passwords match?</li>
        <li>Email us at <a href="mailto:brownkids@collegedesis.com">brownkids@collegedesis.com</a> </li>
      </ul>
      </p>
    {{else}}
      {{#if controller.working}}
        Working...
      {{else}}
        {{submit "Sign up"}}
      {{/if}}
    {{/if}}
  {{/formFor}}
  </form>
    <p>Or {{#linkTo "login"}}login{{/linkTo}}</p>
</div>