<div class="main">
  <h2>Register</h2>
  {{#formFor content}}
    {{input full_name}}
    {{input email}}
    {{#input password}}
      {{labelField password text="Password (at least 6 characters)"}}
      {{inputField password}}
    {{/input}}
    {{input password_confirmation}}
    <div>Organization
      {{#each membership in memberships}}
        {{view Ember.Select contentBinding="organizations" optionLabelPath="content.displayName" selectionBinding="membership.organization" prompt=" "}}
      {{/each}}
      <p>If you're in multiple organizations, just pick one for now.</p>
    </div>
    {{#if memberships.firstObject.organization}}
      {{#if memberships.firstObject.organization.has_email}}
        <p><strong>An email will be sent to {{memberships.firstObject.organization.displayName}} to verify your membership.</strong></p>
      {{else}}
        <p><strong>Sorry, {{memberships.firstObject.organization.displayName}} does not have a registered email address in our database. Please ask them to email us at <a href="mailto:brownkids@collegedesis.com">brownkids@collegedesis.com</a> if you'd like to be a part of our community!</strong></p>
      {{/if}}
    {{else}}
      <p>Select an organization to sign up!</p>
    {{/if}}
    {{#if controller.errors}}
    {{else}}
      {{submit "Sign up"}}
    {{/if}}
  {{/formFor}}
  </form>
    Or {{#linkTo "login"}}login{{/linkTo}}
</div>