<aside>
  <h3>Radio</h3>
  <p>Showcasing student DJs, producers, singers, and rappers.</p>
  <ul class="sub-nav">
    <li>{{#linkTo 'radio.mashup'}}Mashup{{/linkTo}}</li><li>{{#linkTo 'radio.bhangra'}}Bhangra{{/linkTo}}</li><li>{{#linkTo 'radio.acappella'}}A Cappella{{/linkTo}}</li><li>{{#linkTo 'radio.independent'}}Independent{{/linkTo}}</li>
  </ul>
  <div class="share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://collegedesis.com/radio" data-text="CollegeDesis Radio" data-via="collegedesis">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="fb-like" data-href="https://collegedesis.com/radio" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
  </div>
  <h5>Mobile & embeddable versions coming soon.</h5>
</aside>
<div class="main">
  {{#if loading}}<div class="channel-loading"></div>{{/if}}
  {{#unless loading}}{{#if readyToPlay}}
  <div class="radio-info">
    <div class="forward" {{action nextSong}}></div>
    <h5>
      <span>{{nextTrack.json.title}}</span> -
      <a target="_blank" {{bindAttr href="nextTrack.json.user.permalink_url"}}>{{nextTrack.json.user.username}}</a>
    </h5>
  </div>
  {{/if}}{{/unless}}
  <div id="party">
    {{#unless hasTracks}}
      The {{channel}} channel doesn't have any music. Tell your favorite team to add their tracks to <a {{bindAttr href="groupURL"}} target="_blank">this group</a>!
    {{/unless}}
  </div>
</div>