<div {{bindAttr class="loading :radio"}}>
  <div class="radio-inner">
    <div class="radio-controls">
      <div {{bindAttr class="playing:pause :play :radio-icon"}} {{action togglePlay}}></div>
      <div class="forward radio-icon" {{action nextSong}}></div>
    </div>
    <div {{bindAttr class="loading :now-playing"}}>
      {{#if readyToPlay}}
        <a target="_blank" {{bindAttr href="currentTrack.json.permalink_url"}}>{{currentTrack.json.title}}</a> - {{currentTrack.json.user.username}}
      {{/if}}
    </div>
    <div id="party"></div>
  </div>
</div>