.page-header 
  %h2 Store
%h4 
  = @product.name
#store
  %section.left
    .preview
      %iframe{width: '100%', height: '550', scrolling: 'no', frameborder: 'no', src:"http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2813884%3Fsecret_token%3Ds-D14W5&amp;auto_play=false&amp;show_artwork=false&amp;color=d5d3bb"}

  %section.right
    .section.description
      %p
        This album contains tracks from 7 out of the nearly 50 teams in the country. Profits will directly benefit South Asian A Cappella teams. 
      %p 
        = link_to "Read the press release", "/press", target: '_blank'
    .section#action_area
      = form_for @purchase do |p|
        - if @purchase.errors.any?
          .error_messages
            %h2
              = pluralize @purchase.errors.count, "error"  
            %ul
              = @purchase.errors.full_messages.each do |msg|
                %li
                  = msg
        = p.hidden_field :product_id
        = p.hidden_field :stripe_card_token
        #stripe_error

        #stripe-form
          .field
            .label
              = label_tag :card_number, "Credit Card Number" 
            .element
              = text_field_tag :card_number, nil, name: nil, placeholder: 'no spaces'
          .field
            .label
              = label_tag :card_code, "Security Code (CVV)" 
            .element
              = text_field_tag :card_code, nil, name: nil, class: 'small', placeholder: '000'
          .field
            .label
              = label_tag :card_month, "Card Expiration" 
            .element
              = select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}
              = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
          .footnote
            Processed securely using
            = link_to "Stripe", "http://stripe.com"
        .field
          .label
            = label_tag :email, "Email address" 
          .element
            = p.text_field :email, placeholder: 'for a receipt'
          .footnote
            Triple check this so you get a copy of your receipt.
        .field
          .label
            = label_tag :beneficiary_id, "The organization you select will earn $3"
          .element
            = select_tag :beneficiary_id, options_for_select(@organizations.collect  {|x| [x.display_name, x.id]}), prompt: "Select a beneficiary"
        .field
          %h4
            Your card will be charged 
            = number_to_currency @product.price
        .field.action
          %a.btn#purchase Buy
          .footnote
            %p (Make sure you can download now. You won't be able to later.)
          #loading
        %noscript
          Javascript is required to submit this form. You can enable it in your browser settings.
    .section
      %a.btn#show_purchase_form Buy
    .section#notice