<div class="main">
  <h4>Use your own name and email address. You'll be able to post as your organization without your name showing up anywhere!</h4>
  {{#formFor content}}
    {{input full_name}}
    {{input email}}
    {{input password}}
    {{input password_confirmation}}
    {{#if controller.errors}}
      <p style="color:red;">Something isn't right:
      <ul>
        <li>Email address is legit?</li>
        <li>Password is at least 6 characters?</li>
        <li>Passwords match?</li>
        <li>Email us at <a href="mailto:brownkids@collegedesis.com">brownkids@collegedesis.com</a> </li>
      </ul>
      </p>
    {{else}}
      {{#if controller.working}}
        Working...
      {{else}}
        {{submit "Sign up"}}
      {{/if}}
    {{/if}}
  {{/formFor}}
  </form>
    <p>Or {{#linkTo "login"}}login{{/linkTo}}</p>
</div>