<aside>
  <h3>Why</h3>
  <ul class="sub-nav no-link">
    <li>Join a national community</li>
    <li>Earn reputation for your team</li>
    <li>Fundraise</li>
  </ul>
  <a href="#/n/how-to-sign-up">Learn More</a>
</aside>
<div class="main">
  <form id="signup">
    <h4>Sign up</h4>
    <div class="row">
      <div class="header">Email</div>
      <div class="contents">
        {{input type=email value=email}}
        {{#unless validEmail}}<span class="error">Use your own email</span>{{/unless}}
      </div>
    </div>
    <div class="row">
      <div class="header">Full Name</div>
      <div class="contents">
        {{input value=full_name}}
        <span class="error">and your own name</span>
      </div>
    </div>
    <div class="row">
      <div class="header">Password</div>
      <div class="contents">
        {{input type=password value=password}}
        {{#unless validPassword}}<span class="error">at least six characters</span>{{/unless}}
      </div>
    </div>
    <div class="row">
      <div class="header">Confirmation</div>
      <div class="contents">
        {{input type=password value=password_confirmation}}
        {{#unless passwordMatch}}<span class="error">does that match?</span>{{/unless}}
      </div>
    </div>
    {{#if controller.working}}
      Working...
    {{else}}
      <button class="cta" {{bindAttr disabled="controller.errors"}} {{action submit}}>Sign up</button>  or {{#linkTo "login"}}Log in{{/linkTo}}
    {{/if}}
  </form>
</div>