<div class="main profile-page">
  {{App.session.messages}}
  <div class="profile-head">
    <img class="avatar" {{bindAttr src="avatar_url"}}>
    <h1>{{full_name}}</h1>
  </div>
  <div class="info">
    <h3>Memberships</h3>
    {{#unless memberships}}
      You haven't registered any memberships yet
    {{/unless}}
    <p><a>Add a membership</a></p>

    <ul class="memberships">
      {{#each mem in memberships}}
        <li {{bindAttr class="mem.notApproved"}}>
          {{#linkTo 'organizations.show' mem.organization tagName='div'}}{{mem.display_name}}{{/linkTo}}
          <a class="attention" {{action deleteMembership mem}}>Delete</a>
        </li>
      {{/each}}
    </ul>
    <div class="control">
    {{#if dirtyRecords}}
      <button {{action submit}}>Save</button>
      <button {{action cancel}}>Cancel</button>
    {{/if}}
    </div>
  </div>
</div>