<div class="main profile-page">
  {{App.session.messages}}
  <div class="profile-head">
    <img class="avatar" {{bindAttr src="avatar_url"}}>
    <h1>{{full_name}}</h1>
  </div>
  <h3>Memberships</h3>
  {{#if loading}}loading...{{/if}}
  <div {{bindAttr class=":info loading"}}>
    {{#unless memberships}}
      You haven't registered any memberships yet
    {{/unless}}
    <ul class="memberships">
      {{#each mem in memberships}}
        <li {{bindAttr class="mem.notApproved mem.loading:loading"}}>
          {{#if mem.isNew}}
          {{view Ember.Select contentBinding="controllers.organizationsIndex"
                              optionValuePath="content"
                              optionLabelPath="content.display_name"
                              selectionBinding="mem.organization"}}
           {{else}}
          {{#linkTo 'organizations.show' mem.organization tagName='div'}}
            {{mem.display_name}}
          {{/linkTo}}
            <a class="attention" {{action deleteMembership mem}}>Delete</a>
          {{/if}}
        </li>
      {{/each}}
    </ul>
    <p class="cta">
      <a {{action addMembership}}>Add membership</a>
    </p>

    {{#if dirtyRecords}}
    <div class="control">
      <button {{action submit}}>Save</button>
      <button {{action cancel}}>Cancel</button>
    </div>
    {{/if}}

    <h3>Trouble?</h3>
    <p><a href="#/bulletins/how-to-sign-up">Read this</a> if your organization isn't listed or {{#linkTo 'about.contact'}}contact us{{/linkTo}}.</p>
  </div>
</div>