<div class="main profile-page">
  <div class="profile-head">
    <img class="avatar" {{bindAttr src="avatar_url"}}>
    <h1>{{full_name}}</h1>
  </div>
  <div class="info">
    <h3>Memberships</h3>
    <ul>
      {{#each mem in memberships}}
        {{#if mem.isNew}}
          <li>{{view Ember.Select contentBinding="organizations" optionLabelPath="content.display_name" selectionBinding="mem.organization"}}</li>
        {{else}}
          <li>- {{mem.display_name}}</li>
        {{/if}}
      {{/each}}
      <a {{action addMembership}}>Add Membership</a>
    </ul>
    {{#if dirtyRecords}}
      <button {{action submit}}>Save</button>
    {{/if}}
  </div>
</div>