<div class="main profile-page">
  {{App.session.messages}}
  <div class="profile-head">
    <img class="avatar" {{bindAttr src="avatar_url"}}>
    <h1>{{full_name}}</h1>
  </div>
  <h3>Memberships</h3>
  <div {{bindAttr class=":info loading"}}>
    {{#unless memberships}}
      You haven't registered any memberships yet
    {{/unless}}
    <ul class="memberships">
      {{#each mem in memberships}}
        <li {{bindAttr class="mem.notApproved mem.loading:loading"}}>
          {{#linkTo 'organizations.show' mem.organization tagName='div'}}
            {{mem.display_name}}
          {{/linkTo}}
          <a class="attention" {{action deleteMembership mem}}>Delete</a>
        </li>
      {{/each}}
    </ul>
    <ul class="memberships">
      {{#each app in pendingMembershipApplications}}
      {{#if app.isNew}}
        <li>{{view Ember.Select contentBinding="controllers.organizationsIndex"
                                optionValuePath="content"
                                optionLabelPath="content.display_name"
                                selectionBinding="app.organization"}}
        </li>
      {{else}}
        <li>Applied to {{app.organization.display_name}}</li>
      {{/if}}
      {{/each}}
    </ul>
    {{#if newApplications}}
    <div class="control">
      <button class="cta" {{action submit}}>Save</button>
      <button {{action cancel}}>Cancel</button>
    </div>
    {{else}}
      <a class="cta" {{action newMembershipApplication}}>New</a>
    {{/if}}

    <h3>Trouble?</h3>
    <p><a href="#/bulletins/how-to-sign-up">Read this</a> if your organization isn't listed or {{#linkTo 'about.contact'}}contact us{{/linkTo}}.</p>
  </div>
</div>