<div class="main profile-page">
  {{App.session.messages}}
  <div class="profile-head">
    <img class="avatar" {{bindAttr src="avatar_url"}}>
    <h1>{{full_name}}</h1>
  </div>
  <h3>Memberships</h3>
  {{#if loading}}loading...{{/if}}
  <div {{bindAttr class=":info loading"}}>
    {{#unless memberships}}
      You haven't registered any memberships yet
    {{/unless}}
    <a {{action addMembership}}>Add a membership</a></p>

    <ul class="memberships">
      {{#each mem in memberships}}
        <li {{bindAttr class="mem.notApproved"}}>
          {{#if mem.isNew}}
          {{view Ember.Select contentBinding="controllers.organizationsIndex"
                              optionValuePath="content"
                              optionLabelPath="content.display_name"
                              selectionBinding="mem.organization"}}
           {{else}}
          {{#linkTo 'organizations.show' mem.organization tagName='div'}}{{mem.display_name}}{{/linkTo}}
            <a class="attention" {{action deleteMembership mem}}>Delete</a>
          {{/if}}
        </li>
      {{/each}}
    </ul>
    <div class="control">
    {{#if dirtyRecords}}
      <button {{action submit}}>Save</button>
      <button {{action cancel}}>Cancel</button>
    {{/if}}
    </div>
  </div>
</div>