!!!
%html
  %title CollegeDesis - Connecting all the brown kids in America
  = stylesheet_link_tag("application", media: "all")
  = stylesheet_link_tag('http://fonts.googleapis.com/css?family=Port+Lligat+Slab', ref: 'stylesheet')
  = stylesheet_link_tag('http://fonts.googleapis.com/css?family=Lato', ref: 'stylesheet')
  = javascript_include_tag "application", "https://js.stripe.com/v1/"
  = tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY
  = javascript_include_tag "templates/all"
  %body
    / The ember app renders here